<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Chroma UI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full" data-controller="modal" data-modal-backdrop-outlet=".modal-backdrop">
    <% configuration = {
      current_controller: controller_name,
      server: server,
      version: version,
      menu_items: [
        {
          name: t("menu.collections"),
          type: :stroke,
          icon: t("menu.icons.collections"),
          path: collections_path,
          controller: :collections
        }
      ]
    } %>
    <div data-controller="sidebar" data-sidebar-backdrop-outlet=".sidebar-backdrop">
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
        <%= render Application::Mobile.new(**configuration) %>
      </div>

      <!-- Static sidebar for desktop -->
      <%= render Application::DesktopSidebar.new(**configuration) %>

      <%= render Application::MobileBar.new(controller_name: controller_name) %>

      <div class="lg:pl-72"> <!-- sidebar#component-73d9b2c2e2af9184f305f06649710086 -->
        <div class="hidden sticky top-0 z-40 lg:flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">

          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
            <div class="relative flex flex-1"></div>

            <div class="flex items-center gap-x-4 lg:gap-x-6">
              <button type="button" class="hidden -m-2.5 p-2.5 text-skin-dimmed hover:text-skin-dimmed">
                <span class="sr-only">View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>

              <!-- Separator -->
              <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>

              <!-- Profile dropdown -->
              <div class="relative">
              </div>
            </div>
          </div>
        </div>

        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </main>
      </div>

    </div>

    <%= render Application::Modal.new %>
  </body>
</html>
